*/Makefile.in
Makefile.in
aclocal.m4
autom4te.cache
config/
configure
docs/*.aux
docs/*.log
docs/*.pdf
docs/ref/html
docs/ref/qdptags
docs/ref/warnings
docs/usr/html
docs/usr/warnings
include/qdp_config_internal.h.in
include/qdp_config_internal.h.in~
